---
import BaseLayout from '@layouts/BaseLayout.astro';
import '@styles/global.css';

export const title = 'Ayush Maharjan';
---

<BaseLayout title="Ayush Maharjan">
  <section class="flex flex-col gap-4">
    <h1 class="text-4xl">
      Hi! I'm <span class="font-bold">Ayush Maharjan</span>.
    </h1>
    <p class="text-2xl font-light">
      I take projects from idea to production, crafting smooth user experiences
      backed with solid infrastructure.
    </p>
  </section>
</BaseLayout>
