---
import BaseLayout from '@layouts/BaseLayout.astro';
import '@styles/global.css';

export const title = 'Ayush Maharjan';
---

<BaseLayout title="Ayush Maharjan">
  <section class="flex h-screen flex-col justify-center gap-4 space-y-4 pb-80">
    <h1 class="text-4xl">
      Hi! I'm <span class="font-bold">Ayush Maharjan</span>.
    </h1>
    <p class="text-2xl font-light">
      I take projects from idea to production, crafting smooth user experiences
      backed with solid infrastructure.
    </p>
    <a
      href="https://www.linkedin.com/in/ayushmaharjan/"
      class="text-main border-main flex w-fit items-center space-x-16 rounded-full border px-4 py-2 text-xl md:text-base"
    >
      Connect with Me
      <img src="/images/linkedin.svg" alt="linkedin" class="ml-4 h-4 w-4" />
    </a>
  </section>
</BaseLayout>
