---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Plausible Analytics -->
    <script
      defer
      data-domain="ayushmaharjan.com"
      src="https://plausible.io/js/script.file-downloads.outbound-links.js"
    ></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
  </head>
  <body class="bg-main text-main dark:bg-slate-900 dark:text-white">
    <div class="container mx-auto">
      <div class="flex flex-col">
        <Header />
        <main class="min-h-screen px-4 md:px-8">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
