---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <article class="flex flex-col gap-2">
    <h1 class="text-main text-2xl">
      {frontmatter.title}
    </h1>
    <p>{frontmatter.date.toString().slice(0, 15)}</p>

    <div class="flex flex-row gap-2">
      <p>Tags:</p>
      {frontmatter.tags.map((tag: any) => <p>#{tag}</p>)}
    </div>

    <span class="border-main my-4 border-b"></span>
    <slot />
  </article>
</BaseLayout>
